<!-- <div class="row justify-content-center p-5" id="movie-list">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let movie of data">
        <div class="movie">
            <a href="movies/{{movie.id}}" class="profile-name">
                <img src="{{movie.posterUrl}}" class="img img-responsive" >
            </a>
        </div>
    </div>
</div> -->


<p-carousel [value]="data" [numVisible]="6" [numScroll]="5" [circular]="true" [responsiveOptions]="responsiveOptions" id="movie-list">
  <ng-template let-movie pTemplate="item">
      <div class="product-item p-4">
          <div class="movie">
              <a href="movies/{{movie.id}}" class="profile-name">
                  <img src="{{movie.posterUrl}}" class="img img-responsive" >
              </a>
          </div>
      </div>
  </ng-template>
</p-carousel>